<a href="/admin/novedades/" type="submit" class="btn btn-primary"> atras</a>

<form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data" style="height: 100%;" class="d-flex align-items-center">
    <div class="container text-center text-black ">
        <div class="saludo">
            Agregar un nuevo nft
        </div>

        <div class="row mb-3 d-flex justify-content-center ">
            <label class="col-12 col-form-label">Nombre del NFT</label>
            <div class="col-12 w-25 ">
                <input type="text" class="form-control" name="nombre">
            </div>
        </div>

        <div class="row mb-3 justify-content-center">
            <label class="col-12 col-form-label">Precio</label>
            <div class="col-12 w-25 ">
                <input type="number" step="0.000000001" class="form-control" name="precio">
            </div>
        </div>

        <div class="row mb-3 justify-content-center">
            <label class="col-12 col-form-label">Moneda</label>
            <div class="col-12 w-25 ">
                <input type="text" class="form-control" name="moneda">
            </div>
        </div>

        <div class="row mb-3 justify-content-center">
            <label class="col-12 col-form-label">Coleccion</label>
            <div class="col-12 w-25 ">
                <input type="text" class="form-control" name="coleccion">
            </div>
        </div>

        <div class="row mb-3 justify-content-center">
            <label class="col-12 col-form-label">imagen</label>
            <div class="col-12 w-25 ">
                <input type="file" class="form-control" name="imagen" id="imagen">
            </div>
        </div>

        <div class="row mb-3 justify-content-center">
            <label class="col-12 col-form-label">propietario </label>
            <div class="col-12 w-25 ">
                <input type="text" class="form-control" name="propietario">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>

        {{#if error}}
        <p>{{message}}</p>
        {{/if}}

    </div>



</form>